*{
                margin: 0;
                padding: 0;
            }

body {background-color: #121212;}
h1 {color: white;}
div {
    margin
    rounded corners
    sighttransparency?
    background-color: #121212;
}
canvas {
  display:block;
  position: fixed
       }

