.container {
      margin: auto;
      background-color: #121212;
      width: 50%;
      border-radius: 5px;
      background-color: #121212;
      opacity: 0.92;
      padding-top: 3%;
      padding-right: 3%;
      padding-bottom: 3%;
      padding-left: 3%;
      position: relative;
      z-index: 1;
}
.fakediv {
      opacity: 0;
      height: 5%;
}
#canv {
        position: fixed;
        top: 0;
        left: 0;
}

body{
        margin: 0;
        background-color: #000;
        margin: auto;
}
h1 {
        color: white;
   }
canvas {
       Display: block;
       position: fixed;
       }

