*{
      margin: 0;
      padding: 0;
}  
body {
      background-color: #121212;
      width: 70%;
      border-radius: 5px;
      background-color: #121212;
      opacity: 0.9;
    }
h1 {
      color: white;
   }
canvas {
       Display: block;
       position: fixed
       }

